<div class="d-flex mb-3">
  <h1 class="display-6 fw-bold m-0">Car Damage Lists</h1>
  <button class="btn btn-primary ms-4 btn-lg" routerLink="add">
    <i class="fas fa-plus"></i> Add
  </button>
</div>

<div class="card p-2 rounded-2 shadow-xl">
  <table class="table table-hover">
    <thead class="card-header">
      <tr class="text-uppercase">
        <th scope="col">Id</th>
        <th scope="col">Plate</th>
        <th scope="col">Model</th>
        <th scope="col">Damage Description</th>
        <th scope="col">Fixed</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="card-body">
      <tr *ngFor="let carDamage of carDamageListModel.items">
        <th scope="row">{{ carDamage.id }}</th>
        <td>{{ carDamage.carPlate | titlecase }}</td>
        <td>
          {{ carDamage.carModelBrandName | uppercase }} {{ carDamage.carModelName | uppercase }}
          {{ carDamage.carModelYear }}
        </td>
        <td>{{ carDamage.damageDescription }}</td>
        <td>
          <input
            type="checkbox"
            [checked]="carDamage.isFixed"
            disabled="true"
            class="form-check-input"
          />
        </td>
        <td class="d-flex justify-content-center">
          <button routerLink="edit/{{ carDamage.id }}" class="btn btn-sm btn-primary shadow-sm">
            <i class="pi pi-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
